.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 74px auto 70px;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0 auto;
  padding: 0;
}

.profile__form {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 123px auto 220px;
  padding: 0;
}

.profile__name {
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  margin: 0;
  padding: 0;
}

.profile__inputs {
  display: flex;
  justify-content: space-between;
}

.profile__input {
  width: 80%;
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  text-align: right;
  outline: none;
  margin: 0;
  padding: 0;
}

.profile__input-line {
  width: 410px;
  margin: 16.5px auto;
  border: 1px solid rgba(232, 232, 232, 1);
}

.profile__button {
  border: none;
  background-color: transparent;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;

  margin: 0 0 16px 0;
  padding: 0;

  cursor: pointer;
  transition: opacity 0.4s ease-in-out;

}

.profile__button:hover {
  opacity: 0.3;
}

.profile__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 48, 85, 1);
  margin: 0;
  padding: 0;

  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.profile__link:hover {
  opacity: 0.3;
}

@media screen and (max-width: 520px) {
  .profile {
    margin: 70px auto 40px;
  }

  .profile__form {
    max-width: 260px;
    margin: 80px auto 379px;
    padding: 0;
  }

  .profile__input-line {
    width: 260px;
    margin: 16px auto;
  }
}
