.portfolio {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0 125px 0;
}

.portfolio__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: rgba(160, 160, 160, 1);
    margin: 0 0 50px 0;
    padding: 0;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.portfolio__item {
    max-height: 50px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    padding: 0 0 20px 0;
    margin: 0;
}

.portfolio__item:last-of-type {
    border-bottom: none;
  }

.portfolio__link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.portfolio__name {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1px;
    color: black;
    margin: 0;
    padding: 0;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
}

.portfolio__name:hover {
    opacity: 0.3;
  }

.portfolio__arrow-button {
    width: 29px;
    height: 60px;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url(../../../images/arrow.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 4px 20px;
    background-size: 20px 18px;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
    
}

.portfolio__arrow-button:hover {
  opacity: 0.3;
}
