.error {
  display: flex;
  flex-direction: column;
  margin: 246px 0 0 0;
}

.error__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 170px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.error__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 5px 0 184px;
  padding: 0;
}

.error__link {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(52, 86, 243, 1);
  margin: 0;
  padding: 0;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.error__link:hover {
  opacity: 0.5;
}


@media screen and (max-width: 420px) {
  .error {
    margin: 329px 0 0 0;
  }

  .error__title {
    font-size: 80px;
    line-height: 97px;
  }
  
  .error__text {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 284px;
  }

  .error__link {
    font-size: 12px;
    line-height: 15px;
  }

}
