.error {
  display: flex;
  flex-direction: column;
  margin: 246px 0 0 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.error__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 170px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.error__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 5px 0 184px;
  padding: 0;
}

.error__link {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(52, 86, 243, 1);
  margin: 0;
  padding: 0;
}

