.student {
  margin: 110px auto 100px;
  padding: 0 70px;
}

.student__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -0.9px;
  color: black;
  margin: 0 0 66px 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  max-width: 100%;
}

.student__box {
  display: grid;
  grid-template-columns: minmax(0, 600px) 270px;
  justify-content: space-between;
  gap: 5px;
  margin: 66px 0 0 0;
  max-height: 327px;
}

.student__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  color: black;
  margin: 0;
  padding: 0;
}

.student__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: black;
  margin: 0;
  padding: 18px 0 0 0;
}

.student__description {
  max-width: 599px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: black;
  margin: 0;
  padding: 26px 0 98px 0;
}

.student__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.student__link:hover {
  opacity: 0.3;
}

.student__image {
  display: block;
  object-fit: cover;
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .student {
    margin: 90px 0;
    padding: 0 50px;
  }

  .student__box {
    grid-template-columns: minmax(0, 363px) 255px;
  }

  .student__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.5px;
  }

  .student__subtitle {
    font-size: 12px;
    line-height: 18px;
    padding: 16px 0 0 0;
  }

  .student__description {
    max-width: 363px;
    font-size: 12px;
    line-height: 18px;
    padding: 20px 0 87px 0;
  }

  .student__image {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 560px) {
  .student {
    margin: 70px 0;
    padding: 0 14px;
  }

  .student__box {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .student__name {
    font-size: 30px;
    line-height: 36.13px;
    letter-spacing: -2px;
  }

  .student__subtitle {
    font-size: 11px;
    line-height: 16px;
    padding: 20px 0 0 0;
  }

  .student__description {
    font-size: 11px;
    line-height: 16px;
    padding: 20px 0 40px 0;
  }

  .student__image {
    width: 292px;
    height: 352px;
    grid-column: 1;
    grid-row: 1;
  }
}
