.movie__poster {
  width: 270px;
  height: 151px;
  transition: 0.4s linear;
}

.movie__poster:hover {
  outline: black solid .3px;
  opacity: 0.8;
  cursor: pointer;
}

.movie__info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0 0 0;
}

.movie__title {
  width: 226px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15.73px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0 0 29px 0;
}

.movie__button {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: rgba(249, 249, 249, 1);
  background-image: url("../../../images/heart_invisible.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.movie__button-dislike {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: rgba(249, 249, 249, 1);
  background-image: url("../../../images/dislike.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.movie__button:hover {
  opacity: 0.5;
  background-image: url("../../../images/heart_red.svg");
}

.movie__button-active {
  background-image: url("../../../images/heart_red.svg");
}

.movie__button-active:hover {
  background-image: url("../../../images/dislike.svg");
}

.movie__length {
  grid-column: span 2;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  color: rgba(160, 160, 160, 1);
  border-top: 1px solid rgba(232, 232, 232, 1);
  margin: 0;
  padding: 6px 0 0 0;
}

@media screen and (max-width: 955px) {
  .movie__poster {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 520px) {
  .movie__poster {
    width: 300px;
    height: 168px;
  }

  .movie__title {
    font-size: 12px;
    line-height: 24px;
  }

  .movie__info {
    padding: 7px 0 0 0;
  }

  .movie__length {
   padding: 2px 0 0 0;
  }

}